# Pandas Library

### What is Pandas ?
Pandas is a python open source library that is widely used in the data science community to handle relational or labeled data both easily and intuitively in a tabular form. It has several useful features that make handling and preprocessing our data easier. This library is built on top of the NumPy library. It's fast and it has high performance & productivity for users.

### Basics of Pandas

The following line of code imports pandas and checks the pandas version

In [ ]:
import pandas as pd
print(pd.__version__)

#pd is an alias for pandas and it just helps in writing less code everytime we call a method of pandas

The primary data structures in *pandas* are implemented as two classes:

  * **`DataFrame`**
  * **`Series`**

## Introduction to Series

### What is a Series?

* A Pandas Series is like a column in a table.
* It is a one-dimensional array holding data of any type.

#### Seriers Data Representation
![image.png]()

### Creating a Series

In [ ]:
import pandas as pd
 
# Creating empty series
ser = pd.Series()
   
print(ser)

In [ ]:
# Creating a series from a list
data = ["M","O","S","S"]
ser = pd.Series(data)

print(ser)

In [ ]:
# providing a name to the labels with help of index arguement
ser = pd.Series(data, index =["a","b","c","d"])
print(ser)

### Accessing a Series

There are two ways through which we can access element of series, they are :

* Accessing Element from Series with Position
* Accessing Element Using Label (index)

#### Accessing Element from Series with Position

We use the index operator [ ] to access an element in a series. It must be an integer.                                
In order to access multiple elements from a series, we use Slice operation.

In [ ]:
# import pandas
import pandas as pd
 
# creating simple array
data = ["m","a","n","i","p","a","l"]
ser = pd.Series(data)

# retrieve the first element
print(ser[0])

In [ ]:
#retrieve the first five elements
print(ser[:5])

In [ ]:
#retrieve the last three elements
print(ser[-3:])

####  Accessing Element Using Label (index)

In order to access an element from series, we have to set values by index label. A Series is basically like a dictionary in which you can get and set values by index label.

In [ ]:
# import pandas
import pandas as pd
 
# creating simple array
data = ["m","a","n","i","p","a","l"]
ser = pd.Series(data,index=[11,12,13,14,15,16,17])

In [ ]:
# accessing a element using index element
print(ser[16])

In [ ]:
# accessing a multiple element using index element
print(ser[[12, 13, 14, 15]])

## Introduction to Dataframes

### What is a DataFrame ?

A Pandas DataFrame is a 2 dimensional data structure, like a 2 dimensional array, or a table with rows and columns.

Pandas DataFrame consists of three principal components:-
* Data 
* Rows
* Columns

#### Dataframe Table Representation

![image.png]()

### Creating a DataFrame

#### Creating an empty dataframe
The most basic DataFrame, that can be created is an Empty Dataframe. An Empty Dataframe can be created just by calling a dataframe constructor.

In [ ]:
# import pandas as pd
import pandas as pd
 
# Calling DataFrame constructor
df = pd.DataFrame()
 
print(df)

Empty DataFrame
Columns: []
Index: []

#### Creating a dataframe using List
DataFrame can also be created using a single list or a list of lists.

In [ ]:
# import pandas as pd
import pandas as pd
 
# list of strings
lst = ["CSE","AIML","IT","DSE","CCE","ECE","EEE","MECH","CIVIL"]
 
# Calling DataFrame constructor on list
df = pd.DataFrame(lst)
print(df)

       0
0    CSE
1   AIML
2     IT
3    DSE
4    CCE
5    ECE
6    EEE
7   MECH
8  CIVIL

#### Creating DataFrame from dict of ndarray/lists
To create DataFrame from dict of narray/list, all the narray must be of same length. If index is passed then the length index should be equal to the length of arrays. If no index is passed, then by default, index will be range(n) where n is the array length.

In [ ]:
# Creating DataFrame from dict narray / lists By default addresses.
 
import pandas as pd
 
# initialise data of lists.
data = {'Name':["Aman", "Rohan", "Mohan","Pranav"], 'Age':[20, 21, 19, 18]}
 
# Create DataFrame
df = pd.DataFrame(data)
 
# Print the output.
print(df)

     Name  Age
0    Aman   20
1   Rohan   21
2   Mohan   19
3  Pranav   18

#### Create pandas dataframe from lists using dictionary: 
We can create pandas dataframe from lists using dictionary using pd.DataFrame(). With this method in Pandas we can transform a dictionary of list to a dataframe.

In [ ]:
import pandas as pd

#dictionary of lists
data = {
  "name": ["Aman", "Rohan", "Mohan","Pranav"],
  "Age":[20, 21, 19, 18],
  "branch": ["CSE","CCE","EEE","MECH"],
  "section": ["A","E","K","M"],
}

#load data into a DataFrame object:
df = pd.DataFrame(data)

print(df)

     name  Age branch section
0    Aman   20    CSE       A
1   Rohan   21    CCE       E
2   Mohan   19    EEE       K
3  Pranav   18   MECH       M

### Locating a Row
As you can see from the result above, DataFrames are like a table with rows and columns.

Pandas use the `loc` attribute to return one or more specified row(s)

In [ ]:
#refer to the row index:
print(df.loc[0])

# Note: This example returns a Series.

In [ ]:
#use a list of indexes:
print(df.loc[[0, 1]])

# Note: When using [], the result is a Pandas DataFrame.

### Named Indexes
With the index argument, you can name your own indexes.

#### Naming your own indexes 
Add a list of names to give each row a name:

In [ ]:
import pandas as pd

data = {
  "name": ["Aman", "Rohan", "Mohan","Pranav"],
  "branch": ["CSE","CCE","EEE","MECH"],
  "section": ["A","E","K","M"],
}

#listing the named indexes
df = pd.DataFrame(data,index=["Student1","Student2","Student3","Student4"])

print(df)

#### Locating Named Indexes
Use the named index in the `loc` attribute to return the specified row(s).

In [ ]:
#refer to the named index:
print(df.loc["Student1"])

## Read/Write Tabular Data in Pandas
![ReadWrite](https://drive.google.com/uc?export=view&id=1PqwknPA02NATebN2lD9RAqUoBzFzLzUW)

#### Reading CSV Files
A simple way to store big data sets is to use CSV files (comma separated files).

CSV files contains plain text and is a well know format that can be read by everyone including Pandas.

In our examples we will be using a CSV file called 'data.csv'.

In [7]:
import pandas as pd

df = pd.read_csv('data.csv')

print(df.to_string())

FileNotFoundError: ignored